* {
    box-sizing: border-box;
}

body {
    font-family: Gill Sans, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    width: 100vw;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: orange;
    font-size: 4vh;
}

.app-container {
    display: flex;
    width: 100%;
}

.list-container {
    padding: 20px;
}

.map-container {
    width: 70%;
}

.restaurant-header {
    display: flex;
}

.restaurant-name {
    cursor: pointer;
    width: 80%;
}

.restaurant-name,
.review-item-author,
.review-item-rating,
.review-item-relative_time_description,
.rating-value {
    margin: 0;
}

.review-item-rating,
.review-item-relative_time_description {
    font-size: 90%;
}

.review-item-text,
.restaurant-rating {
    margin-top: 0;
    margin-bottom: 5px;
}